<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Logs" connectionString="Url=http://localhost:8080/;DefaultDatabase=Logs" />
  </connectionStrings>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using" value="Serilog.Sinks.Literate" />
    <add key="serilog:write-to:LiterateConsole" />
    <add key="serilog:write-to:LiterateConsole.restrictedToMinimumLevel" value="Verbose" />
    <add key="serilog:using:RavenDB" value="Serilog.Sinks.RavenDB" />
    <add key="serilog:write-to:RavenDB.connectionStringName" value="Logs" />
    <add key="serilog:write-to:RavenDB.restrictedToMinimumLevel" value="Information" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Temp\logs\WHODataViz-{date}.log" />
    <add key="serilog:write-to:RollingFile.restrictedToMinimumLevel" value="Debug" />
  </appSettings>
</configuration>
