################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WHODataViz.WPF/.vs/WHODataViz.WPF/v15
