################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WHODataViz.WPF/.vs/WHODataViz.WPF/v15
/WHODataViz.WPF/WHODataViz.DataModel/obj/Debug
/WHODataViz.WPF/WHODataViz.GHOAccessLib/obj/Debug
/WHODataViz.WPF/WHODataViz.WPFView/obj/Debug
/WHODataViz.WPF/packages
bin
obj
*.user
/WHODataViz.WPF/.vs/config
