@model WHODataViz.DataModel.Indicator
    
    <tr>
        <td>
            @Html.ActionLink(Model.Description, "Index", "IndicatorData", new { code = Model.Code }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Code)
        </td>
    </tr>

